:root {
  --color-primary: #ffffff; 
  --color-secondary: #4CAF50; 
  --color-accent: #247b24; 
  --color-text: #000000; 
  --border-radius: 8px;
  --redondeo: 30px; 
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --font-main: 'Arial', sans-serif;
  --yellow: #FFEB3B;
  --orange: #FF9800;
  --green: #4CAF50;
}

body {
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-text); 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-primary);
    color: var(--color-text); 
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

header img {
    width: 150px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

nav a {
    margin: 0 15px;
    color: var(--color-text);
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
}


nav a:hover {
    color: var(--color-accent); 
}


.buttonunete {
    background: linear-gradient(to right, var(--green), var(--color-accent));
    color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: normal;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonunete:hover {
    background-color: var(--color-accent);
    transform: scale(1.1);
}

/*--------------------------------------------------------------------------------------------*/

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 60px; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.primer-cuadro {
  grid-column: 1 / -1;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.primer-cuadro h1,
.primer-cuadro p,
.primer-cuadro .unetecausa {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-primary);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  z-index: 2;
  text-align: center;
  max-width: 80%;
}

.primer-cuadro h1 {
  top: 18%; 
  font-size: 2.5rem;
}

.primer-cuadro p {
  top: 40%; 
  font-size: 1.2rem;
}

.primer-cuadro .unetecausa {
  bottom: 30%; 
  background: linear-gradient(to right, var(--green), var(--color-accent));
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
}




.informacion {
  grid-column: span 3; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background: linear-gradient(to right, var(--yellow), var(--orange)); 
  border-radius: var(--redondeo);
  padding: 20px;
  box-shadow: var(--shadow);
}

.informacion img {
  width: 40%; 
  height: auto;
  border-radius: 8px;
}

.texto {
  flex: 1; 
}

.cuadro {
  background: linear-gradient(to right, var(--yellow), var(--green)); 
  border-radius: var(--redondeo);
  padding: 20px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;
}

.cuadro:hover {
  transform: translateY(-5px); 
}

.cuadro img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
  object-fit: cover; 
}






.titulo {
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 10px;
  color: var(--color-text);
  text-align: center;
  transition: color 0.3s ease;
}

.contenido {
  display: none;
  padding: 10px;
  background-color: var(--color-primary);
  border-radius: 5px;
  margin-top: 10px;
  transition: opacity 0.3s ease;
}

.cuadro:hover .contenido {
  display: block;
  opacity: 1;
}



@media (max-width: 768px) {
  .primer-cuadro {
    height: 80vh;
  }

  .primer-cuadro h1 {
    font-size: 2rem;
  }

  .primer-cuadro p {
    font-size: 1rem;
  }

  .primer-cuadro .unetecausa {
    font-size: 1.2rem;
  }



  .informacion {
    flex-direction: column; 
    align-items: center;
  }

  .informacion img {
    width: 80%; 
    margin-bottom: 20px;
  }
}






.contenedor-grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  margin: 20px auto;  
  padding-left: 160px; 
  padding-right: 160px; 
  align-items: start;
}

.mision,
.vision {
  background: linear-gradient(to right, var(--yellow), var(--green)); 
  border-radius: var(--redondeo);
  padding: 20px;
  box-shadow: var(--shadow);
  text-align: center;
}

.mision img,
.vision img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
  object-fit: cover;
}

.mision .titulo,
.vision .titulo {
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 10px;
  color: var(--color-text);
  text-align: center;
  transition: color 0.3s ease;
}

.mision .contenido,
.vision .contenido {
  display: none;
  padding: 10px;
  background-color: var(--light-gray);
  border-radius: 5px;
  margin-top: 10px;
  transition: opacity 0.3s ease;
}

.mision:hover .contenido,
.vision:hover .contenido {
  display: block;
  opacity: 1;
}






.problematica {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px; 
  padding-right: 100px; 
  background: linear-gradient(to right, var(--yellow), var(--green)); 
  border-radius: var(--redondeo); 
  max-width: 960px; 
  margin: 50px auto; 
}

.problematica img {
  width: 40%; 
  height: auto;
  border-radius: 8px; 
}

.problematica .texto {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.problematica h2 {
  margin-top: 20px; 
}


.apoyo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right, var(--yellow), var(--green)); 
  border-radius: var(--redondeo);
  max-width: 900px; 
  margin: 0 auto;
}

.textoapoyo {
  flex: 1;
  margin-right: 20px;
}

.imagenM img {
  max-width: 65%;
  height: auto;
  border-radius: 8px;
}




.dona {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-image: url('ASSENT/image5.png'); 
  background-position: center;
  border-radius: var(--redondeo);
  padding: 40px;
  margin: 60px auto;
  box-shadow: var(--shadow);
  height: 300px;
}

.dona img {
  max-width: 100%;
  height: auto; 
  object-fit: cover; 
}

.textoDONA {
  color: var(--color-text);
  text-align: center;
  margin: 0; 
}

button {
  background: linear-gradient(to right, var(--yellow), var(--green)); 
  color: var(--color-text);
  font-size: 20px; 
  border: none;
  padding: 10px 200px; 
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 20px; 
}

button:hover {
  transform: scale(1.1);
}


/*------------------------------------------------------------------------------------------*/

footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
}

.contacto {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contacto h2 {
    margin-bottom: 20px;
}

.contacto p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.contacto img {
    margin-right: 10px;
}

.contacto a {
    color: white;
    text-decoration: none;
}

.contacto a:hover {
    text-decoration: underline;
}

.contacto h3 {
    margin-top: 30px;
}

.contacto a[target="_blank"] {
    display: inline-block;
    margin: 0 10px;
}




@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px;
    }
    
    nav {
        margin: 20px 0;
    }
    
    .cuadro:first-child {
        grid-column: span 1;
    }
    
    .cuadro:first-child h1, 
    .cuadro:first-child p, 
    .cuadro:first-child .unete-causa {
        max-width: 90%;
    }
    
    .cuadro:nth-child(6) {
        grid-column: span 1;
    }
}




.mision, .vision {
  background: linear-gradient(to right, var(--yellow), var(--orange));
}

.imagen img {
  border-radius: var(--redondeo);
}

.titulo {
  color: var(--color-accent);
  margin-bottom: 15px;
}

.contenido {
  line-height: 1.6;
}

@media (max-width: 768px) {
  .contenedor-grid3 {
    grid-template-columns: 1fr;
  }
  
  .mision, .vision, .imagen {
    grid-column: span 1;
  }
}


/*----------------------------------------------------------------------------------------------------*/


